body {
  background: #B0C4DE;
}

h1 {
  text-align: center;
  color:	#E9967A;
}

a {
  color: #E9967A;
}#FF8C00;

p {
  font-size: 30px;
  text-align: center;
}

strong {
  color: #E9967A;
}
